body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header-logo,
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-accent {
    color: #2e2f42;
}

.footer-logo-accent,
.p-footer {
    background: #2e2f42;
    color: #f4f4fd;
}

.header-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

.header-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    color: #fff;
    background: #2e2f42;
}

.header-logo:hover,
.header-logo:active,
.header-logo:focus,
.link:hover,
.link:active,
.link:focus {
    color: #4d5ae5;
}

button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

