body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-logo-accent {
    color: #4d5ae5;
}

.header-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

.header-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    color: #fff;
    background: #2e2f42;
}

.header-logo:hover,
.header-logo:active,
.header-logo:focus,
.link:hover,
.link:active,
.link:focus {
    color: #4d5ae5;
}





