body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-logo-accent {
    color: #4d5ae5;
}

.header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

.header-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    color: #fff;
    background: #2e2f42;
}